#musical {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#musical li {display: inline;}
#musical {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 2px solid  #ffe600;
    border-radius: 20px 5px;
    width: 550px;
    text-align: center;
    background-color: #33ADFF;
  }
  #musical a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 100px;
  }
  #musical a:hover {
    border-radius: 20px 5px;
    background-color: #b700ff;
  }
h3 {
    color :blueviolet
}
ul{
    list-style: "♡";
}
.block{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  font-family: sans-serif;
  font-size: 50px;
}

.link span{
  position: absolute;
  top: 170px;
  left: 0;
  display: none;
  animation: animate .5s ease-in-out;
}
 .link:hover span{
   display: block;
 }

 @keyframes animate {
   0%{
   top:50px;
   opacity: 0;
   }
   100%{
     top: 170px;
     opacity: 1;
   }
 }
/*ul{
    list-style: before
        content "&#9825"
}*/

